@page
@model Kalvis.Web.Areas.Admin.Pages.Category.IndexModel
@{
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>جداول داده</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">جداول داده</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Data Table With Full Features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            
                                    <tr>
                                        <th>شناسه</th>
                                        <th>نام فارسی</th>
                                        <th>نام اینگلیس</th>
                                        <th>تاریخ ایجاد</th>
                                        <th>تاریخ بروزرسانی</th>
                                        <th>عملیات</th>
                                    </tr>
                                
                               
                            </thead>

                            <tbody>
                       
                                    @foreach (var item in Model.GetAllCategory)
                                    {
                                    <tr>
                                        <th>@item.CategoryId</th>
                                        <th>@item.FaCategoryName</th>
                                        <th>@item.EnCategoryName</th>
                                        <th>@item.CreateDate</th>
                                        <th>@item.LastUpdateDate</th>
                                        <th>
                                            <a href="/Admin/Category/Edit/@item.CategoryId" class="btn btn-outline-info">ویرایش</a>
                                            <a href="/Admin/Category/Remove/@item.CategoryId" class="btn btn-outline-danger">حذف</a>

                                        </th>
                                    </tr>
                                    }

                            </tbody>

                        </table>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="example1_previous">
                                            <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a>
                                        </li>
                                        <li class="paginate_button page-item active">
                                            <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                                        </li>
                                        <li class="paginate_button page-item next" id="example1_next">
                                            <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">بعدی</a>
                                        </li>
                                    </ul>
                                </div>
                            <div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->+
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<!-- ./wrapper -->
<!-- page script -->
@*<script>
  $(function () {
    $("#example1").DataTable({
        "language": {
            "paginate": {
                "next": "بعدی",
                "previous" : "قبلی"
            }
        },
        "info" : false,
    });
    $('#example2').DataTable({
        "language": {
            "paginate": {
                "next": "بعدی",
                "previous" : "قبلی"
            }
        },
      "info" : false,
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "autoWidth": false
    });
  });
</script>

*@